body{
    background-image: url('Images/music.jpeg');
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    font-family: cursive;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    border-style: ridge;
    border-width: 10px;
    border-color: white;
    background-color: white;
    color:palevioletred;
    top:100px;
    left:550px;
    position:fixed;
}
#info{
    top:300px;
    position:fixed;
}
#shipping{
    top:500px;
    position:fixed;
}
#agree{
    top:300px;
    left:700px;
    font-size: 20px;
    position:fixed;
}
#gold{
    top:400px;
    left:800px;
    position:fixed;
}
#submit{
    top:600px;
    position:fixed;
}